<div class="orderSummary" *ngIf="listProduct && listProduct.length > 0">
    <h3 class="summaryTitle text-center">Resumo do Pedido</h3>
    <form>
      <div class="customerInfo">
        <label for="customerName">Nome do Cliente/Mesa:</label>
        <input
          type="text"
          id="customerName"
          formControlName="customerName"
          placeholder="Cliente ou Mesa"
        />
      </div>
     <!--  <div class="attendantInfo">
        <p>Atendente: {{ loggedInUsername }}</p>
      </div> -->
      <hr>
  
      <div *ngFor="let product of listProduct">
        <div class="productImage">
          <img [src]="product.product.image" alt="{{ product.product.name }}" />
        </div>    
          
        <div class="productDetails">
          <h3 class="productName">{{ product.product.name }}</h3>
          <p class="productPrice">R$ {{ product.product.price }},00</p>          
          <div class="quantityControls">
            <button
              (click)="decrementQty(product)"
              type="button"
              class="quantityButton"
            ><i class="bi bi-dash-circle"></i>
            </button>
            <span class="quantity">{{ product.qty }}</span>
            <button
              (click)="incrementQty(product)"
              type="button"
              class="quantityButton"
            ><i class="bi bi-plus-circle"></i>
            </button>
            <button
              (click)="removeItem(product)"
              type="button"
              class="removeButton"
            ><i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <hr>
      <!-- Exibir o total do pedido -->
      <div class="total">
        <p>Total:</p>
        <span class="totalValue">R$ {{ totalValue.toFixed(2) }}</span>
      </div>
      <!-- Botão para adicionar ao pedido -->
      <button type="button" (click)="addToOrder()" class="addToOrderButton">
        Enviar ao Pedido
      </button>
    </form>
  </div>
  