<!-- <p>admin works!</p> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<nav class="menu-lateral">
    <div>
        <img src="../../../assets/burguer1.png" alt="logo" class="logo">
        
    </div>
    <div class="btn-expandir">
        <!-- <i class="bi bi-list"></i> -->
    </div>
    <ul>          
        <li class="item-list">
            <a href="#">
                <span class="icon"><i class="bi bi-person-add"></i></span>
                <span class="text-link">Adicionar Usuário</span>
            </a>
        </li>
        <li class="item-list">
            <a href="#">
                <span class="icon"><i class="bi bi-cart-plus"></i></span>
                <span class="text-link">Adicionar Produtos</span>
            </a>
        </li>
        <li class="item-list">
            <a (click)="logout()">
                <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                <span class="text-link">Sair</span>
            </a>
        </li>
    </ul>
</nav> 
<main class="admin-container flexbox-column">
    <div class="header-container">
        <img src="../../../assets/logoPB.png" alt="Logo" class="logoPb">
      </div>
    <div class="menu flexbox boxshadow">
      <button (click)="showEmployees()" [ngClass]="{'active': activeComponent === 'users'}" class="btn-users">Funcionários</button>
      <button (click)="showProducts()" [ngClass]="{'active': activeComponent === 'products'}" class="btn-producs">Produtos</button>
    </div>
  
    <div *ngIf="activeComponent === 'users'">
      <app-user-form></app-user-form>
    </div>
  
    <div *ngIf="activeComponent === 'products'">
     <app-product-form></app-product-form>
    </div>
  
</main>
