@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}
/* -------Parte da Pagina Chef-----*/
.menuSection::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../assets/fm_light1.png) no-repeat top center;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}
.menuSection {
    margin-top: 1%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
}
.logoPb {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
}

.logoPb img {
    width: 200px; 
}
.menuChoice {
    display: flex;
    justify-content: center;
    
}
.menuTitle {
   width: 200px;   

}
.menuChoice button {
    background-color: #981313;
    color: rgb(9, 9, 9);
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.533);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s, color 0.2s;
}

.menuChoice button.active {
    background-color: #c92d2d;
    color: white;
}

.menuChoice button:hover {
    background-color: #c92d2d;
    color: white;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 40px;
    max-width: 1200px;
    width: 90%;
    justify-items: center;
    margin-bottom: 100px;    
    padding: 20px;
    margin-left: 25px;    
       
}

.productBox {
    border: 1px solid #ccc;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    width: 100%;
}

.productBox:hover {
    transform: scale(1.03);
}

.productImage img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
}

.productInfo {
    margin-top: 10px;
}
.productContainer {
    background-color: rgba(197, 197, 197, 0.704);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.416);
}
.productContainer:hover {
    background-color: rgb(209, 207, 207);
}
/*--------PARTE DO RESUMO DO PEDIDO--------*/
.orderSummaryContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.orderSummary {
    border: 1px solid #ccc;
    background-color: rgba(197, 197, 197, 0.704);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.summaryTitle {
    margin: 0;
}
.orderSummary h3 {
    margin: 0;
}

.customerInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customerInfo label {
    margin-right: 10px;
}

.customerInfo input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.attendantInfo {
    font-size: 18px;
}
.productDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productList {
    width: 100%;
    margin-bottom: 20px;
}

.productItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.productItem:last-child {
    border-bottom: none;
}

.productImage img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
}

.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productName {
    flex: 1;
    margin-right: 10px;
}

.productPrice {
    margin: 0;
    margin-right: 15px;
}

.quantityControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.removeButton {
    color: red;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: none;
}

.totalValue {
    margin-top: 20px;
    font-size: 20px;
    text-align: right;
}

.addToOrderButton {
    background-color: #981313;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.addToOrderButton:hover {
    margin: auto;
    background-color: #c92d2d;
}


/* -------PARTE DA NAV------- */
.logo {    
    height: 45px;
}
.text-logo {
    margin-left: 40px;
    color: #bcd3ee;
    font-size: 20px;
}
.menu-lateral {
    width: 100px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #981313;
    
    position: fixed;
    top: 0;
    left: 0;
    
    overflow: hidden;
    transition: .2s;
    z-index: 2;;
    
}
.menu-lateral:hover {
    width:300px;
}
.btn-expandir {
    width: 100%;
    padding-left: 10px;
    margin: 20px 0 100px 0;
}
.btn-expandir > i {    
    color: #981313;
    font-size: 35px;
    cursor: pointer;
}
ul {
    height: 100%;
    list-style-type: none;
    
}
ul li.item-list {
    transition: .2s;
}
ul li.item-list:hover {
    color: white;
    background-color: #981313;   
    
}
.item-list a:hover {
    color: #bcd3ee;
}
.item-list a{
    color: #981313;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;

    line-height: 40px;
    
    margin-bottom: 20px; 

}
.text-link {
    margin-left: 40px;
}
.icon > i {
    font-size: 30px;
    margin-left: 10px;
}

/*---------MEDIAS QUERIES----------*/

@media screen and (max-width: 1490px) {
    .text-link {
        margin-left: 51px;
    }
}
@media (max-width: 767px) {
    .menu-lateral {
        width: 100%;
        height: 100px; 
        padding: 20px 0;
        box-shadow: 3px 2px 5px #98131383;
        position: fixed; 
        border-bottom: 3px solid #981313;    
    }
   /*  .menuTitle {
        margin-top: 30%;
    } */
    .productGrid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        margin-top: 30px;
    }

    .productBox {        
        padding: 15px;
    }
    .logoPb img{
        /* display: none !important; */
        width: 200px;
        margin-top: 40%;
    } 
    .mainText {
        margin-bottom: 40px; 
    }

    .mainSection {
        margin-top: 20%; 
    }
 
    .item-list a {
        flex-direction: row;
        justify-content: center;
    }

    .menu-lateral:hover {
        width: 100%;
    }
    .logo {
        margin-left: 15px;
    }

    .btn-expandir {
        display: none;
    }

    ul {
        display: flex;
        justify-content:flex-end;
        margin-left: 50%;
        flex-wrap: nowrap;
        padding: 10px;        
    } 
    ul li.item-list:hover,
    ul li a:hover  {
        color: #bcd3ee; 
        background-color: transparent;        
        
    }
    .text-link {
        display: none;
    }
    .icon {
       margin-left: 20px;
       margin-top: -130%;
    }
}