<!-- <app-nav-bar></app-nav-bar>  -->


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <nav class="menu-lateral">
        <div>
            <img src="../../../assets/burguer1.png" alt="logo" class="logo">
            
        </div>
        <div class="btn-expandir">
            <!-- <i class="bi bi-list"></i> -->
        </div>
        <ul>          
            <li class="item-list">
                <a href="#">
                    <span class="icon"><i class="bi bi-stopwatch"></i></span>
                    <span class="text-link">Pedidos em espera</span>
                </a>
            </li>
            <li class="item-list">
                <a href="#">
                    <span class="icon"><i class="bi bi-check-circle"></i></span>
                    <span class="text-link">Pedidos finalizados</span>
                </a>
            </li>
            <li class="item-list">
                <a (click)="logout()">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="text-link">Sair</span>
                </a>
            </li>
        </ul>
    </nav> 
   
  <main>
      
          <div>
              <img src="../../../assets/logoPB.png" alt="Logo" class="logoPb">
          </div>
          <section class="mainSection">
              
              <div class="waitOrders mainText">
                  <button (click)="showPendingOrders = true" [ngClass]="{'active': showPendingOrders === true}" class="btn pending-orders-btn">Pedidos pendentes</button>
              </div>
              
              <div class="waitBox mainText green">
                  <button  (click)="showPendingOrders = false" [ngClass]="{'active': showPendingOrders === false}" class="btn completed-orders-btn">Pedidos finalizados</button>
              </div>
              
          <!--     <section *ngIf="showPendingOrders" class="pending-orders grid">
                <div *ngIf="showImage" class="no-orders flexbox-column">
                  <img class="no-orders-img" src="../../../assets/overcooked-no-orders.png" alt="overcooked chef">
                  <span class="no-orders-span">Sem pedidos no momento!</span>
                </div> -->
                <section *ngFor="let order of pendingOrders" class="order-container boxshadow flexbox-column">
                  <span class="red-title order-number">Pedido número: {{ order.id }}</span>
                  <div class="client-table-name flexbox">
                   
                    <div class="client-name">
                      <span>Cliente:</span>
                      <span class="data-client">{{ order.customerName}}</span>
                    </div>
                  </div>
                  <span class="waiter-name">Atendente: {{ order.waiter }}</span>
                  <div class="title-quant-order flexbox">
                    <span class="red-title">Pedido</span>
                    <span class="red-title">Quant.</span>
                  </div>
                  <div *ngFor="let product of order.products" class="order-details flexbox">
                    <span class="order-data">{{ product.name }}</span>
                    <span class="order-data quantity-data">{{ product.quantity }}</span>
                  </div>
                  <button  class="btn-ready-orders">Pronto</button>
                  <!-- (click)="markOrderAsCompleted(order) -->
                </section>
              </section>
              <section *ngIf="!showPendingOrders" class="completed-orders grid">
                <div *ngFor="let order of completedOrders" class="order-container boxshadow flexbox-column">
                  <span class="red-title order-number">Pedido número: {{ order.id }}</span>
                  <div class="client-table-name flexbox">
                    
                    <div class="client-name">
                      <span>Cliente:</span>
                      <span class="data-client">{{ order.customerName}}</span>
                    </div>
                  </div>
                  <span class="waiter-name">Atendente: {{ order.waiter }}</span>
                  <div class="title-quant-order flexbox">
                    <span class="red-title">Pedido</span>
                    <span class="red-title">Quant.</span>
                  </div>
                  <div *ngFor="let product of order.products" class="order-details flexbox">
                    <span class="order-data">{{ product.name }}</span>
                    <span class="order-data quantity-data">{{ product.quantity }}</span>
                  </div>
                  <span class="time-completed">Concluido em: {{ order.completedDate }}</span>
                </div>
              </section>


          
  </main>
     
    

