<!-- <p>menu works!</p> -->
<!-- <section class="menuSection">
    <span class="menuTitle">Menu</span>
    <div class="menuChoice">
      <button (click)="filterProductsByType('café da manhã')" [ngClass]="{'active': currentProductType === 'café da manhã'}" class="btn-breakfast">Café da manhã</button>
      <button (click)="filterProductsByType('lanches')" [ngClass]="{'active': currentProductType === 'lanches'}" class="btn-snack">Lanches</button>
      <button (click)="filterProductsByType('bebidas')" [ngClass]="{'active': currentProductType === 'bebidas'}" class="btn-drinks">Bebidas</button>
    </div>
      
    <div *ngFor="let product of filteredProducts" class="menuAll">
      <div class="infoProduct">
        <div class="product-titles">
          <h3 class="productName">{{product.id}}. {{product.name}}</h3>
          <p class="productDetail">{{product.details}}</p>
        </div>
        <div class="">
          <p class="productPrice">R$ {{product.price}}</p>
          <div class="">

           <img (click)="removeProduct(product.id)" src="" alt="icon minus">
            <span>{{ productQuantities[product.id] }}</span>
            <img (click)="addProduct(product.id)" src="" alt="icon plus">
          </div>
        </div>
      </div>
      <img [src]="product.image" alt="{{product.name}}" class="product-img">
    </div>
  </section> -->
